#nav {
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 10px 0;
}

.nav-link {
  color: var(--gray-mid) !important;
  font-weight: 700;
  letter-spacing: 0.3px;
  transition: 0.2s ease;
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary-red) !important;
}