h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: 800;
  }

p {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    font-size: 18px;
    overflow-y: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

body {
  background-color: var(--dl-color-gray-white100);
}
