h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-weight: 800;
  }

h3 {
    margin-top: 20px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: #000000;
}

p {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    overflow-y: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

.list-container {
        text-align: center;
}

.list-container ul {
  display: inline-block;
  text-align: left;
}

body {
  background-color: var(--dl-color-gray-white100);
}

py-script {
  display: block;
  margin-top: 20px;
  overflow-y: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}