.navbar .navbar-nav{
    font-family: 'Lato', sans-serif !important;
    font-size: large  !important;
    font-weight: 800;
}

#nav {
    background-color: var(--bs-light);
}

#footend {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: left;
    overflow-y: auto;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}